<%= render "layouts/errors", :object => @user %>

<%= form_tag sessions_path do %>
  <form role="form">
    <div class="form-group">
      <%= text_field :email, nil, placeholder: 'Email', :class => "form-control"%>
      <%= password_field :password, nil, placeholder: 'Password', :class => "form-control"  %>
    </div >
    <%= submit_tag("Login", :class => "btn btn-default", :id => "login") %>
  </form>
  <% end %>
</div>
